<div class="leaderboard-section">
    <h3>🏆 榮譽積分排行榜 (總計)</h3>
    <table>
        <thead>
            <tr>
                <th>名次</th>
                <th>姓名</th>
                <th>總積分</th>
            </tr>
        </thead>
        <tbody>
            {% for user in leaderboard %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.姓名 }}</td>
                <td>{{ user.積分 }} pts</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>